*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(92.7deg, #2539A3 0%, #3CD3AD 100%), #232323;
}
.title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding-top: 60px;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 32px;
}
.form header{
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #5679F5;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #5679F5;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 27px;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #5679F5;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #5679F5;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}